.header {
  background-color: #25355A;
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0 5px;

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 50px;
      width: auto; // Maintain aspect ratio
    }
  }
}
