<div class="candidate-info">
    <span class="name">Name:{{candidateName}}</span>
    <span class="candidate-id">Candidate ID:{{candidateId}}</span>
    <!-- <div class="timer">
      Timer: {{ minutes.toString().padStart(2, '0') }}:{{ seconds.toString().padStart(2, '0') }}
      <button class="play-button" (click)="toggleTimer()">{{ isTimerRunning ? '⏸' : '▶' }}</button>
    </div> -->
  </div>
<div class="interview-container">
    <nav class="tabs">
      @for (tab of tabs; track tab) {
        <button (click)="setActiveTab(tab)" [class.active]="activeTab === tab">
          {{ tab }}
        </button>
      }

    </nav>

  @for (question of filteredQuestions; track question.id;let i = $index) {
    <mat-card appearance="outlined" class="question-card">
      <mat-card-content>
        <div class="question-text">
          <p>{{ question.text }}</p>
        </div>
        <div class="answer-buttons">
          <button mat-icon-button (click)="answerQuestion(question.id, 'correct')" [class.selected]="question.answer === 'correct'">
            <mat-icon class="right-icon" [class.selected]="question.answer === 'correct'">check_circle</mat-icon>
          </button>
          <button mat-icon-button (click)="answerQuestion(question.id, 'incorrect')" [class.selected]="question.answer === 'incorrect'">
            <mat-icon class="wrong-icon" [class.selected]="question.answer === 'incorrect'">cancel</mat-icon>
          </button>
          <div class="timer">
            <mat-icon (click)="toggleTimer(question.id)" [ngStyle]="{ 'color': timers[question.id]?.isRunning ? 'rgb(202, 191, 143)' : 'white' }">
              {{ timers[question.id]?.isRunning ? 'pause_circle_filled' : 'play_circle_filled' }}
            </mat-icon>
            <span>{{ formatTime(timers[question.id]?.seconds ?? 0) }}</span>
          <!-- <mat-icon (click)="toggleTimer(question.id)" [ngStyle]="{ 'color': timers[question.id]?.isRunning ? 'rgb(202, 191, 143)' : 'white' }">
          {{ timers[question.id]?.isRunning ? 'pause_circle_filled' : 'play_circle_filled' }}
          </mat-icon> -->
          <!-- <span>{{ formatTime(timers[question.id]?.seconds??0) }}</span> -->
        </div>
      </div>
     </mat-card-content>
    </mat-card>
  }
  <button class="finish-button" (click)="finishInterview()">Save</button>
  
  @if(showConfirmationModal){
  <div class="modal-overlay" >
    <div class="modal-content">
      <h2>Confirm Finish</h2>
      <textarea 
      [(ngModel)]="reviewText" 
      placeholder="Write your review here..." 
      rows="4" 
      cols="50">
    </textarea>
      <p>Are you sure you want to finish the interview?</p>
      <div class="modal-buttons">
        <button (click)="confirmFinish()">Yes</button>
        <button (click)="cancelFinish()">No</button>
      </div>
    </div>
  </div>
}
@if (showResultsModal) {
  <div class="modal-overlay">
    <div class="modal-content mat-elevation-z8">
      <button class="closemodel" mat-icon-button (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>

      <h6>Candidate ID: {{ candidateId }}</h6>
      <h6>Name: {{ candidateName }}</h6>

      <mat-accordion>
        @for (role of roles; track role.name) {
          <mat-expansion-panel (opened)="setRoleExpanded(role, true)" (closed)="setRoleExpanded(role, false)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Role: {{ role.name }}
              </mat-panel-title>
              <mat-panel-description>
                Total Percentage: {{ role.percentage }}%
              </mat-panel-description>
            </mat-expansion-panel-header>

            @if (role.details) {
              <div>
                <p>Right: {{ role.details.right }}</p>
                <p>Wrong: {{ role.details.wrong }}</p>
              </div>
            }
          </mat-expansion-panel>
        }
      </mat-accordion>

      <div class="overall-percentage">
        <p>Overall Percentage: {{ overallPercentage }}%</p>
      </div>

      <div class="action-buttons">
        <button mat-raised-button  class="download-button" (click)="downloadResults()">
          Download
        </button>
        <button mat-raised-button  class="download-button" (click)="SubmitResults()">
          Submit
        </button>
      </div>
    </div>
  </div>
}

  </div>
  