
.interview-container {
    background-color: #1a1a2e94;
    color: white;
    // min-height: 65%;
    height: 60vh; 
    // max-height: 65%; 
    overflow-y: auto; 
    border-radius: 1% 1% 0 0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  .right-icon, .wrong-icon {
    color: gray; /* Default color for both icons */
    font-size: 24px;
    margin-right: 10px;
  }
  
  /* Selected correct answer style */
  .right-icon.selected {
    color: #538F76; /* Green for correct answer */
  }
  
  /* Selected incorrect answer style */
  .wrong-icon.selected {
    color: #AF4949; /* Red for incorrect answer */
  }
  .timer{
    color: white;
    font-size: 16px;
    padding: 0 .6rem;
    gap: 7px;
display: flex;
align-items: center;
  }
  .tabs {
    background-color: #1a1a2e;
    position: sticky; /* Makes the tabs fixed when scrolling */
    top: 0; /* Sticks to the top of the container */
    z-index: 1000; /* Ensures it's always on top of other elements */
  
    button {
      background: none;
      border: none;
      color: #ffffff;
      padding: 10px 20px;
      cursor: pointer;
  
      &.active {
        font-weight: bolder;
        color: #219f97;
        border-bottom: 2px solid white;
      }
    }
  }
  // .candidate-info{
  //   background-color: #16213e;
  //   border-radius: 8px;
  //   padding: 20px;
  //   margin-bottom: 15px;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   color: white;

  // }

  .dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; // On top of other elements
  }
  
  .dialog-content {
    background-color: #1a2a4d; // Dark background
    color: white; // White text color
    padding: 20px;
    border-radius: 8px;
    width: 80%; // Responsive width
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(245, 245, 245, 0.3); // Soft shadow for depth
  }
  
  .dialog-title {
    color: rgb(255, 255, 255); // Red title color
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .dialog-body {
    margin: 15px 0;
    font-size: 16px;
  }
  
  textarea {
    width: 80%;
    display: flex;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
    background-color: #fff;
    color: #000;
  }
  
  .dialog-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }
  
  .confirm-button {
    background-color: #2563eb; // Blue color for cancel button

    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .cancel-button {
    background-color: #e3550e; // Orange color for confirm button
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .candidate-info {
    background-color: #16213e;
      border-radius: 8px;
      padding: 20px;
      margin-top: 0;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white; /* Adjust this if you need them in a single row */

  span {
    display: flex;
    align-items: center;

    .value {
      margin-left: 20px; /* Controls the spacing between label and value */
    }
  }
}

 

      .mat-mdc-card-content {
        display: flex;
        padding: 4 0rem !important;
        justify-content: space-between;
              }
     .question-text{
      display: flex;
      align-self: flex-end;
     }
     .mat-mdc-card-outlined {

      margin: 1rem 1rem;
      background-color: #1f3674 !important;
    }
  .buttonpossition{
    padding:0;
    margin: 0;
    bottom: 0;
    position: sticky; /* Makes the tabs fixed when scrolling */
    z-index: 1000; /* Ensures it's always on top of other elements */
    background-color: #1a1a2e;
    display: flex;
    justify-content: flex-end;
  }
  
  .finish-button {
    margin-right: 1rem;
    bottom: 0;
    margin: .5rem;
    position: sticky; /* Makes the tabs fixed when scrolling */
    background-color: #7b2cbf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }


  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #1a2a4d;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
  }
  .modal-header {
    display: flex;
    justify-content: space-between; /* Pushes the close button to the right */
    align-items: center;
  }
  
  .close-button {
    float: right;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  .closemodel {
    color: white;
    margin-left: 30rem; /* Ensures the close button is aligned to the right */

  }
  .role-section {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .role-header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e67;
    padding: 10px;
    cursor: pointer;
  }
  
  .role-details {
    background-color: #3a4d80;
    padding: 10px;
  }
  
  .overall-percentage {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .answer-buttons{
    display: flex ;
    align-items: center;
  }
  
  .download-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #7b2cbf !important;
    color: white !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #ff69b4; /* Darker shade of pink on hover */
    }
  }
  