
  <div class="container">
    <h2>Reports</h2>
    <div class="filter-container">
      <form [formGroup]="interviewForm" (ngSubmit)="onSubmit()" class="filter-form">
        <div class="filter-section">
          <div class="name-role-container">
            <mat-form-field appearance="outline" class="input-wrapper">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" />
              <mat-error *ngIf="interviewForm.get('name')?.errors?.['invalidChars'] && (interviewForm.get('name')?.touched || interviewForm.get('name')?.dirty)">
                Name cannot contain numbers or special characters.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-wrapper">
              <mat-label>Role</mat-label>
              <mat-select formControlName="role">
                <mat-option *ngFor="let role of roleOptions" [value]="role.name">{{ role.name }}</mat-option>

              </mat-select>
              <mat-error *ngIf="interviewForm.get('role')?.errors?.['required'] && (interviewForm.get('role')?.touched || interviewForm.get('role')?.dirty)">
                Role is required.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="filter-section">
          <div class="date-range-container">
            <mat-form-field appearance="outline" class="input-wrapper">
              <mat-label>From</mat-label>
              <input matInput [matDatepicker]="fromPicker" formControlName="fromDate" />
              <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
              <mat-datepicker #fromPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-wrapper">
              <mat-label>To</mat-label>
              <input matInput [matDatepicker]="toPicker" formControlName="toDate" />
              <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
              <mat-datepicker #toPicker></mat-datepicker>
              <mat-error *ngIf="interviewForm.get('toDate')?.hasError('required') && interviewForm.get('toDate')?.touched">
                To date is required when From date is provided.
              </mat-error>
              <mat-error *ngIf="interviewForm.hasError('dateRangeInvalid') && (interviewForm.get('toDate')?.touched || interviewForm.get('toDate')?.dirty)">
                To date must be after From date.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <button type="button" class="reset-button" (click)="resetForm()">Reset</button>

        <div class="button-container">
          <button class="export-btn" type="button" (click)="downloadAllReports()">
            <img src="https://img.icons8.com/?size=100&id=8Q0JnVzEzZWf&format=png&color=000000" alt="Export Icon" style="width: 40px; height: 40px; margin-right: 30px; margin-top: 5px;" />
          </button>
        </div>
      </form>
    </div>
    <div class="custom-accordion">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let report of pagedReports">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ report.name }}
            </mat-panel-title>
            <mat-panel-description>
              {{ report.interviewDate |date }} | {{ report.applicationRoleName}} | Overall Percentage: {{ report.overallScore }}%
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!-- Report Details Table -->
          <table class="report-details-table">
            <thead>
              <tr>
                <th>Technology</th>
                <th>Experience Level</th>
                <th>Percentage</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stack of report.technologies">
                <td>{{ stack.technologyName }}</td>
                <td>{{ stack.experienceLevelName }}</td>
                <td>{{ stack.score }}%</td>
              </tr>
            </tbody>
          </table>

          <!-- Download Button Below the Expanded Table -->
          <div class="download-container">
            <button (click)="downloadExpandedReport(report)">
              Download Entire Report
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <mat-paginator [length]="reports.length"
    [pageSize]="pageSize"
    (page)="onPageChange($event)">
</mat-paginator>
</div>

