<div class="content">
  <div class="container">
    <h2>Reports</h2>
    <div class="filter-container">
      <form [formGroup]="interviewForm" (ngSubmit)="onSubmit()" class="filter-form">

        <div class="filter-section">

          <div class="name-role-container">
            <mat-form-field appearance="outline" class="input-wrapper">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" placeholder="Enter name" />
              <mat-error *ngIf="interviewForm.get('name')?.errors?.['invalidChars'] && (interviewForm.get('name')?.touched || interviewForm.get('name')?.dirty)">
                Name cannot contain numbers or special characters.
              </mat-error>
              <mat-error *ngIf="interviewForm.get('name')?.errors?.['required'] && (interviewForm.get('name')?.touched || interviewForm.get('name')?.dirty)">
                Name is required.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-wrapper">
              <mat-label>Role</mat-label>
              <input matInput formControlName="role" placeholder="Enter role" />
              <mat-error *ngIf="interviewForm.get('role')?.errors?.['invalidChars'] && (interviewForm.get('role')?.touched || interviewForm.get('role')?.dirty)">
                Role cannot contain numbers or special characters.
              </mat-error>
              <mat-error *ngIf="interviewForm.get('role')?.errors?.['required'] && (interviewForm.get('role')?.touched || interviewForm.get('role')?.dirty)">
                Role is required.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="filter-section">

          <div class="date-range-container">
            <mat-form-field appearance="outline" class="input-wrapper">
              <mat-label>From</mat-label>
              <input matInput [matDatepicker]="fromPicker" formControlName="fromDate" />
              <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
              <mat-datepicker #fromPicker></mat-datepicker>
              <mat-error *ngIf="interviewForm.hasError('bothDatesRequired') && interviewForm.get('fromDate')?.touched">
                Both From and To dates are required.
              </mat-error>
              <mat-error *ngIf="interviewForm.hasError('dateRangeInvalid') && interviewForm.get('fromDate')?.touched">
                From date cannot be later than To date.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-wrapper">
              <mat-label>To</mat-label>
              <input matInput [matDatepicker]="toPicker" formControlName="toDate" />
              <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
              <mat-datepicker #toPicker></mat-datepicker>
              <mat-error *ngIf="interviewForm.hasError('bothDatesRequired') && interviewForm.get('toDate')?.touched">
                Both From and To dates are required.
              </mat-error>
              <mat-error *ngIf="interviewForm.hasError('dateRangeInvalid') && interviewForm.get('toDate')?.touched">
                To date cannot be earlier than From date.
              </mat-error>
            </mat-form-field>

          </div>
        </div>
        <div class="filter-section">

          <button class="export-btn">
            <img src="https://img.icons8.com/?size=100&id=8Q0JnVzEzZWf&format=png&color=000000" alt="Export Icon" style="width: 50px; height: 50px;" />
          </button>
        </div>

          <button class="search-button" (click)="onSubmit()">Search All</button>

      </form>

    </div>




    <mat-accordion>
      <mat-expansion-panel *ngFor="let report of reports">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ report.name }}
          </mat-panel-title>
          <mat-panel-description>
            {{ report.date }} | {{ report.role }} | Overall Percentage: {{ report.overallPercentage }}%
          </mat-panel-description>
        </mat-expansion-panel-header>

        <table class="report-details-table">
          <thead>
            <tr>
              <th>Stack</th>
              <th>Experience Level</th>
              <th>Technologies</th>
              <th>Percentage</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stack of report.stacks">
              <td>{{ stack.stackName }}</td>
              <td>{{ stack.experience }}</td>
              <td>{{ stack.technologies.join(', ') }}</td>
              <td>{{ stack.percentage }}%</td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
