<!-- <app-loader></app-loader> -->

<!-- <app-header></app-header>
<div class="layout">
  <app-sidebar></app-sidebar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div> -->
<!-- <router-outlet></router-outlet> Only for routing -->

<!-- <app-header
      [showMenuButton]="isSmallScreen"
      (toggleSidenav)="onToggleSidenav()">
    </app-header>

    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav
        #sidenav
        [mode]="isSmallScreen ? 'over' : 'side'"
        [opened]="!isSmallScreen"
        class="sidebar">
        <app-sidebar></app-sidebar>
      </mat-sidenav>

      <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container> -->
    <app-loader></app-loader>
    <ng-container *ngIf="!isLoginPage; else loginContent">
      <app-header
        [showMenuButton]="isSmallScreen"
        (toggleSidenav)="onToggleSidenav()">
      </app-header>

      <mat-sidenav-container class="sidenav-container">


        <mat-sidenav
          #sidenav
          [mode]="isSmallScreen ? 'over' : 'side'"
          [opened]="!isSmallScreen"
          class="sidebar"
          (openedStart)="onSidenavOpen()"
          (closedStart)="onSidenavClose()">
          <app-sidebar></app-sidebar>
        </mat-sidenav>

        <mat-sidenav-content
          class="content"
          [class.blur]="isSmallScreen && sidenav?.opened">
          <router-outlet></router-outlet>
        </mat-sidenav-content>


      </mat-sidenav-container>
    </ng-container>

    <!-- Template for login page -->
    <ng-template #loginContent>
      <div class="login-container">
        <router-outlet></router-outlet>
      </div>
    </ng-template>
