
.sidenav-container {
    // height:calc(100vh - 72px);
    background-image: url('/img/background.png');
    background-size: cover;   
  }
  .sidenav {
    width: 80px;
    padding: 0px;
    margin:0px
  }
  .content {
    width: calc(100vw - 120px);
    padding: 20px;
    // height:calc(100vh - 112px);  // Adjust for header height
  }