
  .sidenav {
    background-color: #172B4D;
    height: calc(100vh - 5rem);
    width: 5rem;
    padding: 0px;
    margin:0px
  }
:host{
.mat-drawer-content {
  z-index: 1;
  height: 100%;
  overflow: auto;
}
}


.mat-sidenav-content {
  margin-left: 0 !important;
}
  .content {
    height: calc(100vh - 7.5rem);
    padding: 20px;
    background-image: url('/img/background.png');
    background-size:auto;


  }

