
  <div class="sidebar">
    <ul class="sidebar-menu">
      <li>
        <a routerLink="/interview-helper/candidate-form" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <img src="https://img.icons8.com/?size=100&id=14096&format=png&color=000000" alt="Home">
        </a>
      </li>
      <li>
        <a routerLink="/interview-helper/question-page" routerLinkActive="active">
          <img src="https://img.icons8.com/?size=100&id=45590&format=png&color=000000" alt="Interview">
        </a>
      </li>
      <li>
        <a routerLink="/interview-helper/interview-summary" routerLinkActive="active">
          <img src="https://img.icons8.com/?size=100&id=57718&format=png&color=000000" alt="Other">
        </a>
      </li>
    </ul>
  </div>

