<div class="sidebar">
  <ul class="sidebar-menu">
    <li>
      <a routerLink="candidate-form"
         routerLinkActive="active"
         matTooltip="Candidate Form"
         matTooltipPosition="right"
         matTooltipClass="custom-tooltip">
        <img src="https://img.icons8.com/?size=100&id=14096&format=png&color=ffffff"
             alt="Home">
      </a>
    </li>
    <!-- <li>
      <a routerLink="question-page"
         routerLinkActive="active"
         matTooltip="Question Page"
         matTooltipPosition="right"
         matTooltipClass="custom-tooltip">
        <img src="https://img.icons8.com/?size=100&id=45590&format=png&color=ffffff"
             alt="Interview">
      </a>
    </li> -->
    <li>
      <a routerLink="interview-summary"
         routerLinkActive="active"
         matTooltip="Interview Summary"
         matTooltipPosition="right"
         matTooltipClass="custom-tooltip">
        <img src="https://img.icons8.com/?size=100&id=57718&format=png&color=ffffff"
             alt="Other">
      </a>
    </li>
  </ul>
</div>
