<div class="sidebar">
  <ul class="sidebar-menu">
    <li>
      <a routerLink="/" routerLinkActive="active">
        <img src="https://img.icons8.com/?size=100&id=14096&format=png&color=000000" alt="Home">
      </a>
    </li>
    <li>
      <a href="/question-page" routerLinkActive="active">
        <img src="https://img.icons8.com/?size=100&id=45590&format=png&color=000000" alt="Interview">
      </a>
    </li>
    <li>
      <a href="/interview-summary" routerLinkActive="active">
        <img src="https://img.icons8.com/?size=100&id=57718&format=png&color=000000" alt="Other">
      </a>
    </li>
  </ul>
</div>
